#h{
    background-color:#FAEBD7
}
.a {
    background-color: #FAEBD7;
}
.b {
    background-color: lightsalmon;
}
.bre{
    background-color: honeydew;
}
.c{
    background-color: khaki;
}
.d{
    background-color: lemonchiffon;
}
.e{
    background-color: linen;
}
.f{
    background-color: plum;
}
.g{
    background-color: Gold;
}
.i{
    background-color: mistyrose;
}
#k{
    background-color: red;
}
.m{
    background-color: red;
}
.mi{
    background-color: greenyellow;
}